html::-webkit-scrollbar {
    width: .5rem;
}

html::-webkit-scrollbar-thumb {
    background: #d1d5db;
    border-radius: .5rem ;
}

html::-webkit-scrollbar-track {
    border-radius: .5rem;
}


.scroll-container {
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #d1d5db #f3f4f6;
}

.scroll-container::-webkit-scrollbar {
    width: 12px;
}

.scroll-container::-webkit-scrollbar-thumb {
    background-color: #d1d5db;
    border-radius: 6px;
    border: 3px solid #f3f4f6;
}

